
/*Challenge 1: Your Age In Days*/
.container-1, .container-2, .container-3, .container-4, .container-5{
    border: 1px solid black;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}
.flex-box-container-1, .flex-box-container-2, .flex-box-rps, .flex-box-pick-color, 
.flex-blackjack-row-1, .flex-blackjack-row-2, .flex-blackjack-row-3{
    display: flex;
    border: 1px solid black;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.flex-box-container-1 div{
    display: flex;
    padding: 10px;
    border: 10px solid black;
    align-items: center;
}

/*Challenge 2: Cat Generator*/
.flex-box-container-2 img{ 
    margin: 10px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.7 ) ;
}


/*Challenge 3: Rock, Paper, Scissors */
.flex-box-rps img:hover{
    box-shadow: 0px 10px 50px rgba(37, 58, 233, 1);
}



/*Challenge 5: BlackJack*/
.flex-blackjack-row-1, .flex-blackjack-row-2{
    background-image: url('..//Images/blackjack.jpg');
    color: #ffff;
}
.flex-blackjack-row-1 div{
    border: 1px solid black;
    flex: 1;
    padding: 10px;
    height: 500px;
    text-align: center;
}
.flex-blackjack-row-1 img{
    width: 25%;
    padding: 10px;
}
.flex-blackjack-row-2 button{
    border: 1px solid black;
    padding: 10px;
}
.flex-blackjack-row-2 div{
    border: 1px solid black;
    padding: 10px;
}
table, th, td{
    padding: 5px;
    border: 1px solid black;
}



